<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- sensing declares hardware features it needs; runtime permissions are
         requested by the app module. -->
    <uses-feature android:name="android.hardware.camera.any" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true" />
</manifest>